@media only screen and (min-width: 320px) and (max-width: 415px) {
  .refreshIcon {
    margin-left: 43.5% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .refreshIcon {
    margin-left: 61.5% !important;
  }
}

@media (min-width: 1300px) and (max-width: 1900px) {
  .refreshIcon {
    margin-left: 61.5% !important;
  }
}

#subtitulo {
  font-family: roboto;
  color: #311b92;
}

.formularioAcciones-container p,
.labelForm {
  font-family: Roboto;
  color: #311b92;
}

.formularioAcciones-container input[type="text"] {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #12a291;
  border-top: 2px solid #00695c;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/********* ICONOS ***********/

.btn-reactivar {
  background-color: #4527a0;
  color: #ffffff;
  text-align: center;
  border: 2px solid #4527a0 !important;
}

.cabecera {
  position: fixed;
  top: 12%;
  left: 6%;
  width: 100%;
}

.cabeceraEliminados {
  position: fixed;
  top: 13%;
  left: 6%;
  width: 100%;
}

.refreshIcon {
  margin-left: 65%;
}

/********** TITULO *********/
.gestion {
  left: 42%;
}
