@media only screen and (min-width: 320px) and (max-width: 415px) {
  .gestion {
    left: 7% !important;
  }

  h1 {
    font-size: 1.9rem !important;
  }

  .refreshIcon {
    margin-left: 65.5% !important;
  }

  .table {
    width: 250% !important;
    max-width: 300% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  #cabecera {
    top: 21% !important;
  }

  .table thead tr th {
    width: 28% !important;
  }
}

@media (min-width: 1300px) and (max-width: 1900px) {
  #cabecera {
    top: 21% !important;
  }

  .table thead tr th {
    width: 28% !important;
  }
}

.formularioAcciones-container p,
.labelForm {
  font-family: Roboto;
  color: #311b92;
}

.formularioAcciones-container input[type="text"] {
  height: 30px;
  font-size: 14px;
  width: 90%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d1c4e9;
  border-top: 2px solid #00695c;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.formularioAcciones-container input[type="date"] {
  height: 30px;
  font-size: 14px;
  width: 25%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d1c4e9;
  border-top: 2px solid #00695c;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/********* ICONOS ***********/

.cabecera,
.cabeceraEliminados {
  position: fixed;
  top: 15%;
  left: 6.5%;
  width: 100%;
}

.refreshIcon {
  margin-left: 73%;
}

/********** TITULO *********/
.gestion {
  left: 38%;
}
